.bck-box.box-1 .bck-title {
    color: #fc4237;
}

/* Navbar */
	.navbar-bottom {
		background: #eee;
		display: none;
	}
	.edit .navbar-bottom {
		display: block;
	}
	.slider-indicators {
	    padding-left: 100px;
	    padding-right: 100px;
	}

	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #ffca04;
		color: #ffffff ;
		opacity: 0.5;
	}

	.slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators li.active,
	.edit .slider-indicators .concat.active {
	    opacity: 1;
	}
	.edit .slider-indicators .concat.active {
		color: #ffca04 ;
	}

/* Navbar (Breadcums) */
	.content_type_clase_cem_jorgecalvo .publisher-navbar {
		position: fixed;
		top: 44px;
		background: #ffffff;
		width: 100%;
		left: 0;
		height: 58px;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0 9px;
	}

	.is_app.content_type_clase_cem_jorgecalvo .publisher-navbar {
		position: sticky;
		top: 0px;
	}

	#top-navigator {
		height: 44px;
		overflow: hidden;
		position: relative;
	}

	#top-navigator.show_left:before {
        background: none;
        display: none;
    }

    #top-navigator.show_right:after {
        background: none;
        display: none;
    }

	.content_type_clase_cem_jorgecalvo .publisher-navbar .navbar-content {
		max-width: 960px;
		margin: 0 auto;
		padding-left: 90px;
		padding-right: 50px;
	}

	.content_type_clase_cem_jorgecalvo .logo-publisher {
		display: block;
		margin-left: -48px;
	}
	.content_type_clase_cem_jorgecalvo .logo-publisher {
		content: " ";
		background-image: url(logo-blink.png);
		height: 36px;
		background-repeat: no-repeat;
		width: 100px;
		margin-left: -100px;
		margin-top: 10px;
		margin-right: 60px;
		float: left;
		background-size: contain;
	}

	.content_type_clase_cem_jorgecalvo .slider-indicators {
		padding: 0;
		display: inline-block;
		text-align: left;
		position: relative;
		width: 5000px;
		bottom: 0px;
		left: 0px;
		z-index: 0;
		background-color: #ffffff;
	    color: #00599C;
	}

	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown,
	.content_type_clase_cem_jorgecalvo .publisher-navbar #top-navigator .slider-indicators {
		background: #FFCA04;
	}
	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown {
		border-radius: 120px 0 0 120px;
	}
	.content_type_clase_cem_jorgecalvo .publisher-navbar #top-navigator .slider-indicators {
		border-radius: 0 120px 120px 0;
	}
	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown button,
	.content_type_clase_cem_jorgecalvo .publisher-navbar li {
		border-radius: 5px;
		border: none;
		background-color: transparent;
		color: #ffffff;
		vertical-align: middle;
		margin: 0px 5px;
		text-indent: 0px;
		line-height: 3.5rem;
		font-size: 2.0rem;
		font-weight: bold;
		cursor: pointer;
	}

	.content_type_clase_cem_jorgecalvo .slider-indicators:after {
		content: '';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.content_type_clase_cem_jorgecalvo .slider-indicators li {
		width: 35px;
		height: 35px;
		background-color: transparent;
		margin: 0px;
		text-align: center;
		opacity: 0.5;
		position: relative;
		float: left;
	}

	.content_type_clase_cem_jorgecalvo .slider-indicators li:before,
	.content_type_clase_cem_jorgecalvo .slider-indicators li:after {
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		background: rgba(0,0,0,.1);
		position: absolute;
		left: 0;
		top: 0;
	}
	.content_type_clase_cem_jorgecalvo .slider-indicators li:after {
		background: rgba(255,255,255,.2);
		left: -1px;
	}

	.content_type_clase_cem_jorgecalvo .slider-indicators li.active,
	.content_type_clase_cem_jorgecalvo .publisher-navbar li:hover {
		background-color: transparent;
		opacity: 1;
	}
	.content_type_clase_cem_jorgecalvo .publisher-navbar #top-navigator,
	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown {
		float: left;
		margin-top: 10px;
		display: block;

	}

	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown button {
		width: auto;
		padding: 0px 10px;
	}

	.open > .dropdown-menu {
		display: block;
		max-height: 300px;
		overflow-y: auto;
	}

	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown button {
		border: none;
	}

	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown button:focus {
		outline: none;
	}

	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown li {
		display: list-item;
		width: auto;
	}

	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown li a {
		color: #0095DA;
		font-weight: bold;
	}

	.content_type_clase_cem_jorgecalvo .publisher-navbar .dropdown .caret {
		display: none;
	}
/**/
