body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover, #indice .units ul li.active a {
    background: red;
}

body {
    background-color: #17c13a;
}

.btn-primary, .btn-primary.disabled, .btn-primary.disabled:focus {
    background-color: #f114e2;
}
